<footer>
    <p>Developed by BYT</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <ul class="social">
        <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li><a href="#"><i class="fas fa-rss-square fa-2x"></i></a></li>
    </ul>
</footer>
</body>

</html>