<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer="defer"></script>
    <script src="index.js" defer></script>
</head>

<body>
    <div class="container-fluid dashboard-container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="dashboard-nav">
                    <ul>
                        <li class="dashboard-nav-header">
                            <span>
                                <img class ="dashboard-profile-img" src="profileImage.png" alt="profile image">
                            </span>
                        </li>
                        <div class="dashboard-item-container">
                            <li class="dashboard-item">
                                <a class="nav-bar-item" href="/profile">
                                    <span class="nav-bar-item">Profile</span>
                                </a>
                            </li>
                            <li class="dashboard-item">
                                <a class="nav-bar-item" href="/update">
                                    <span class="nav-bar-item">Update</span>
                                </a>
                            </li>
                            <li class="dashboard-item">
                                <a class="nav-bar-item" href="/payment">
                                    <span class="nav-bar-item">Make Payment</span>
                                </a>
                            </li>
                            <li class="dashboard-item">
                                <a class="nav-bar-item" href="/general">
                                    <span class="nav-bar-item">General Page</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>